<!DOCTYPE html>
<html>
<head>
    <title>PKT DJ</title>
</head>
<body>

    <p>Currently Playing: <span id="current"></span></p>

    <p>Queued:
        <ol id="queued">
        </ol>
    </p>

    <p>Search:
        <input type="text" id="search" name="search">
        <button id="search-btn">Search</button>
    </p>

    <table id="results">
      
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">

        function getInfo() {
            $.get('info/', function(data) {
                $('#current').html(data['current']['name'] + '  -  ' + data['current']['artists']);
                $('#queued').html('');
                for (var i = 0; i < data['queued'].length; i++) {
                    var txt = data['queued'][i]['name'] + '  -  ' + data['queued'][i]['artists'];
                    var remove = '  <button class="remove-btn" id="remove-'+data['queued'][i]['id']+'">Remove</button>';
                    $('#queued').append('<li>'+txt+remove+'</li>');
                }

                 $('.remove-btn').click(function() {
                    var id = $(this).attr('id').split('-')[1];
                    console.log(id);
                    $.get('remove/'+id, function(data) {
                        console.log(data);
                       getInfo();
                    })
                });
            });
        }

        function onSearch() {
            console.log($('#search').val());

            $.get('search/?q=' + $('#search').val(), function(data) {
                console.log(data);
                var songs = data['songs'];
                $('#results').html('<tr><th>Name</th><th>Artists</th><th>Album</th><th>Length</th></tr>');
                for (var i = 0; i < songs.length; i++) {

                    var html =  '<tr><td>'+songs[i]['name']+
                                '</td><td>'+songs[i]['artists']+
                                '</td><td>'+songs[i]['album']+
                                '</td><td>'+songs[i]['time']+
                                // '</td><td><button class="play-btn" id="play-'+songs[i]['id']+'">Play</button>'+
                                '</td><td><button class="queue-btn" id="queue-'+songs[i]['id']+'">Queue</button></tr>';
                    $('#results').append(html);
                }

                $('.queue-btn').click(function() {
                    var id = $(this).attr('id').split('-')[1];
                    console.log(id);
                    $.get('queue/'+id, function(data) {
                        console.log(data);
                       getInfo();
                    })
                });
            })
        }
        
        $(document).ready(function() {

            getInfo();

            setInterval(function(){
                //refresh
                console.log('updating');
                getInfo();
            }, 10000);

            $('#search-btn').click(function() {
                onSearch();
            });
            $('#search').keypress(function(event) {
                if ( event.which == 13 ) {
                     onSearch();
                  }
            });


            
        });


    </script>

</body>
</html>