{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>PKT DJ</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="shortcut icon" href="{% static 'dj/favicons/favicon.ico' %}">
      <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'dj/favicons/favicon.ico' %}">
      <link rel="icon" type="image/png" sizes="196x196" href="{% static 'dj/favicons/favicon-192.png' %}">
      <link rel="icon" type="image/png" sizes="160x160" href="{% static 'dj/favicons/favicon-160.png' %}">
      <link rel="icon" type="image/png" sizes="96x96" href="{% static 'dj/favicons/favicon-96.png' %}">
      <link rel="icon" type="image/png" sizes="64x64" href="{% static 'dj/favicons/favicon-64.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dj/favicons/favicon-32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dj/favicons/favicon-16.png' %}">
      <link rel="apple-touch-icon" href="{% static 'dj/favicons/favicon-57.png' %}">
      <link rel="apple-touch-icon" sizes="114x114" href="{% static 'dj/favicons/favicon-114.png' %}">
      <link rel="apple-touch-icon" sizes="72x72" href="{% static 'dj/favicons/favicon-72.png' %}">
      <link rel="apple-touch-icon" sizes="144x144" href="{% static 'dj/favicons/favicon-144.png' %}">
      <link rel="apple-touch-icon" sizes="60x60" href="{% static 'dj/favicons/favicon-60.png' %}">
      <link rel="apple-touch-icon" sizes="120x120" href="{% static 'dj/favicons/favicon-120.png' %}">
      <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dj/favicons/favicon-76.png' %}">
      <link rel="apple-touch-icon" sizes="152x152" href="{% static 'dj/favicons/favicon-152.png' %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dj/favicons/favicon-180.png' %}">
      <meta name="msapplication-TileColor" content="#FFFFFF">
      <meta name="msapplication-TileImage" content="{% static 'dj/favicons/favicon-144.png' %}">
      <meta name="msapplication-config" content="{% static 'dj/favicons/browserconfig.xml' %}">
      <link rel="stylesheet" href="{% static 'dj/styles/style.css' %}">
      </link>
   </head>
   <body>
      <div id="off_info" style="display: none;">
         <h1>This app isn't currently running.</h1>
         <p>Please try again later!</p>
      </div>
      <div id="whole_div">
         <div class="">
            <div id="current_info">
               <h1>Currently Playing</h1>
               <img id="current_img" src="" width="300px" height="300px">
               <div class="panel panel-default" >
                  <p id="current_song"></p>
                  <p id="current_artist" style="color: #aaa;"></p>
               </div>
            </div>
         </div>
         <div id="time_div" style="display:none;">
            <h2>Time to Vote:</h2>
            <h2 id=timer>3:42</h2>
         </div>
         <div id="next_div" style="display:none;" style="width: 300px;">
            <h2>Next Song:</h2>
            <img id="next_img" src="" width="300px" height="300px">
            <div class="panel panel-default" >
               <p id="next_song"></p>
               <p id="next_artist" style="color: #aaa;"></p>
            </div>
         </div>
         <div class="vote_div">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 300px; display:none;">
               <ol class="carousel-indicators" id="indicators">
               </ol>
               <div class="carousel-inner" id="inner">
               </div>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
         <div id="search-bar">
            <img src="{% static 'dj/open-iconic/svg/magnifying-glass.svg' %}" width="12px" height="12px" alt="Search"/>
            <input type="text" id="search" name="search"></input>
         </div>
         <div id="results">
         </div>
      </div>
      <footer class="page-footer">
         <div class="row" style="width:300px; margin: auto;">
            <div class="col-sm">
               &copy; Piotti 2018
            </div>
            <div class="col-sm">
               <a href="https://github.com/piotti/pktdj/" target="_blank"><img width="24px" height="24px" src="{% static 'dj/git/PNG/GitHub-Mark-Light-64px.png' %}"></a> 
            </div>
            <div class="col-sm">
               <a  href="http://pkt.mit.edu" target="_blank">&Phi;&Kappa;&Theta;</a>
            </div>
         </div>
         <div class="row" style="width:300px; margin: auto;">
            <div class="col-sm">
               <a href="feedback">Leave feedback!</a> 
            </div>
         </div>
      </footer>
   </body>
   <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
   <script src="{% static 'dj/scripts/main.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>